.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  height: 20px;
}

.top-bar .Menu,
.top-bar .Menu-logout,
.top-bar .PetCareFinder,
.top-bar .search-bar-container input {
  font-size: 8px;
  vertical-align: middle !important; 
}

.menu-container {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 추가 */
  position: fixed;
  top: 0;
  right: 10px; /* 우측 정렬 */
}

.navbar {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  width: 100%; /* 부모 요소 너비 100%로 설정 */
  background-color: #f1f1f1;
}

.MenuImage {
  display: inline-block; /* 이미지를 인라인 블록 요소로 설정하여 너비와 높이 조절 가능하게 함 */
  margin-right: 10px; /* 이미지들 사이의 간격 설정 */
  margin-left: 10px; 
}

.MenuImage img {
  width: 80px; /* 이미지의 너비 설정 */
  height: 25px; /* 이미지의 높이 설정 */
}

.MenuImage:active {
  text-decoration: underline;
}

.bottom-links {
  display: flex;
  align-items: center;
}

.Menu {
  color: black;
  margin: 8px;
  text-decoration: none;
}

.Menu-logout {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.bar {
  margin-top: 5px; 
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center; /* 로고를 수평 가운데로 정렬 */
  align-items: center; /* 로고를 수직 가운데로 정렬 */
}

.PetCareFinder {
  display: flex;
  justify-content: center; /* 로고 이미지를 수평 가운데로 정렬 */
  align-items: center; /* 로고 이미지를 수직 가운데로 정렬 */
  margin: 0 auto; /* 로고를 가운데로 정렬 */
}

.PetCareFinder img {
  width: 350px; /* 로고 이미지의 너비 설정 */
  height: 170px; /* 로고 이미지의 높이 설정 */
}

.search-bar-container {
  position: relative; /* 검색 아이콘을 기준으로 위치 조정 */
}

.search-bar-container input {
  width: 150px; /* 원하는 크기로 조정 */
  padding: 9px 11px; /* 내용과 테두리 사이의 여백 설정 */
  font-size: 12px !important; /* 폰트 사이즈 설정 */
  border: 1px solid #ccc; /* 테두리 스타일 설정 */
  border-radius: 5px; /* 테두리를 둥글게 설정 */
  outline: none;
}