.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0px 0px;
  display: flex;
}

.Menu {
  color: black;
  margin: 8px;
  text-decoration: none;
}

.Menu-logout {
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.PetCareFinder {
  color: black;
  margin: 8px;
  text-decoration: none;
  margin-right: auto;
  text-align: left;
}

.search-bar-container {
  margin: auto; 
  display: flex;
  align-items: center;
}

.search-bar-container input {
  margin-left: 10px; 
}
