.navbar {
  width: 100%;
  background-color: black;
  padding: 15px 0px;
  text-align: right;
}

.Menu {
  color: white;
  margin: 8px;
  text-decoration: none;
}

.Menu-logout {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}