/* 글쓰기 버튼 스타일 */
.board-write-button {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 8px 16px; /* 버튼 내부 패딩 조정 */
}

/* 테이블 스타일 */
.board-table {
  width: 70%; /* 테이블의 전체 너비를 100%로 설정 */
}

/* 테이블 셀 스타일 */
.board-cell {
  padding: 8px; /* 셀 내부 패딩 조정 */
}

/* 등록된 게시물이 없을 때 표시되는 셀 스타일 */
.board-no-content {
  text-align: center;
  padding: 10px 0; /* 셀 내부 패딩 조정 */
}

/* 게시물 목록 행 클릭 시 포인터 스타일 */
.board-row {
  cursor: pointer;
}